# Java
*.class

# Log files
*.log

# Maven
.mvn/
target/

# Gradle
.gradle/
build/

# Vim files
*.swp
*.swo
*.swn
*~

# IDE
.vscode/
.idea/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
